* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: 300px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  margin-top: 20vh;
  padding-top: 15px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.qr-image{
  margin-top: 2vh;
}

.qr-image img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

.details {
  width: 85%;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
}

.details h2 {
  margin-bottom: 15px;
  color: hsl(218, 44%, 22%);
}

.details p {
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
